.glass {
    position: fixed;
    width: 200px;
    height: 150px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    resize: both;
    overflow: auto;
    z-index: 99999;

    .handle {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100000;
        width: 100%;
        height: 20px;
        cursor: move;
        background: rgba(17, 174, 236, 0.4);
        opacity: 0;
    }

    &:hover {
        .handle {
            opacity: 1;
        }
    }
}