@use '../../theme/variables.scss';
@keyframes popup {
    from{
        transform: translate(310px, 0);
    }
    to{
        transform: translate(0px, 0);
    }
}
#notification-box{
    h3{
        padding: 0;
        margin: 0;
        font-size: 15px;
    }
    position: fixed;
    top: 50px;
    right: 10px;
    width: 300px;
    z-index: 10000;
    height: auto;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px 15px;
    animation: popup 0.5s linear;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .successful{
        color: $successful-color;
    }
    .failure{
        color: $error-color;
    }
    .cancel-icon{
        cursor: pointer;
    }
}
